<div class="navbar navbar-expand-lg navbar-light">
  <div class="text-center d-lg-none w-100">
    <button type="button" class="navbar-toggler dropdown-toggle" data-toggle="collapse" data-target="#navbar-footer">
      <i class="icon-unfold mr-2"></i>
      Footer
    </button>
  </div>
  <div class="navbar-collapse collapse" id="navbar-footer">
    <span class="navbar-text">
      &copy;
      <%= Date.today.cwyear %>. <a href="javascript:void(0);">Online Forum</a> by <a href="javascript:void(0);">Avinash Kumar.</a>
    </span>
  </div>
  <h5><marquee behavior="scroll" direction="right" scrollamount="10">Online Forum - You can share your post here</marquee></h5>
</div>