<li><h5 class="mb-3">
  <%= comment.body %> </h5>-
  <h7 class="mb-3">Submitted
    <%= time_ago_in_words(comment.created_at) %> ago - By <%= comment.user.email %></h7>
  <%= form_for [comment, Comment.new] do |f| %>
  <div class="card-body">
    <textarea name="comment[body]" class="form-control mb-1" rows="3" cols="1" placeholder="Enter your message..."></textarea>
    <div class="d-flex align-items-center">
      <button type="submit" class="btn bg-teal-400 btn-labeled btn-labeled-right ml-auto"><b><i class="icon-paperplane"></i></b> Reply</button>
    </div>
  </div>
  <% end %>
  <ul>
    <%= render comment.comments %>
  </ul>
</li>