<% @posts.each do |post| %>
<div class="card">
  <div class="card-header header-elements-inline">
    <div class="media align-items-center align-items-lg-start text-center text-lg-left flex-column flex-lg-row">
      <div class="media-body">
        <h4 class="media-title font-weight-semibold">
          <a href="#">
            <%= link_to(post.title, post) %></a>
        </h5>
        <h4 class="mb-3">
          <%= post.body  %>
        </h5>
        <h7>Submitted
          <%= time_ago_in_words(post.created_at) %> ago - By  <%= post.user.email%></h7>
      </div>
    </div>
    <div class="header-elements">
      <div class="list-icons">
        <a class="list-icons-item" data-action="collapse"></a>
        <a class="list-icons-item" data-action="reload"></a>
        <a class="list-icons-item" data-action="remove"></a>
      </div>
    </div>
  </div>
</div>
<% end %>