<div class="card">
  <div class="card-header header-elements-inline">
    <h5 class="card-title">Post</h5>
    <div class="header-elements">
      <div class="list-icons">
        <a class="list-icons-item" data-action="collapse"></a>
        <a class="list-icons-item" data-action="reload"></a>
        <a class="list-icons-item" data-action="remove"></a>
      </div>
    </div>
  </div>
  <div class="card-body">
    <%= form_for @post do |f|%>
      <div class="form-group">
        <label>TITLE OF THE POST:</label>
        <input type="text" class="form-control" name="post[title]" placeholder="Title" required="true">
      </div>
      <div class="form-group">
        <label>BODY OF THE POST:</label>
        <textarea name="post[body]" rows="5" cols="5" class="form-control" placeholder="Body Of the post" required="true"></textarea>
      </div>
      <div class="text-right">
        <button type="submit" class="btn btn-primary">Submit form <i class="icon-paperplane ml-2"></i></button>
      </div>
    <% end %>
  </div>
</div>