<div class="card">
  <div class="card-header header-elements-inline">
    <div class="media align-items-center align-items-lg-start text-center text-lg-left flex-column flex-lg-row">
      <div class="media-body">
        <h4 class="media-title font-weight-semibold">
          <a href="#">
            <%= @post.title %></a>
        </h4>
        <h5 class="mb-3">
          <%= @post.body %>
        </h5>
        <h7>Submitted
          <%= time_ago_in_words(@post.created_at) %> ago - By  <%= @post.user.email%></h7>
      </div>
    </div>
    <div class="header-elements">
      <div class="list-icons">
        <a class="list-icons-item" data-action="collapse"></a>
        <a class="list-icons-item" data-action="reload"></a>
        <a class="list-icons-item" data-action="remove"></a>
      </div>
    </div>
  </div>
  <%= form_for [@post, Comment.new] do |f| %>
  <div class="card-body">
    <textarea name="comment[body]" class="form-control mb-1" rows="3" cols="1" placeholder="Enter your message..."></textarea>
    <div class="d-flex align-items-center">
      <button type="submit" class="btn bg-teal-400 btn-labeled btn-labeled-right ml-auto"><b><i class="icon-paperplane"></i></b> Add Comment</button>
    </div>
  </div>
  <% end %>
  <ul>
    <%= render @post.comments %>
  </ul>
</div>